.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container h3 {
  margin-bottom: 10px;
}

.recommended_movies_container {
  display: flex;
  gap: 4px;
}
.all_movies_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 가로로 3칸 */
  gap: 4px; /* 칸 사이 간격 */
}
